.example-card
	background-image: url('https://material.angular.dev/assets/img/examples/shiba2.jpg')
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	height: 300px
	display: flex
	justify-content: center
	align-items: center
	h1
		text-align: center
		color: white
		margin: 0
		cursor: pointer
.nameApiGrid
	display: grid
	padding: 1rem
	grid-template-columns: repeat(1fr)
	@media ( min-width:	600px)
		grid-template-columns: repeat(2,1fr)
	@media ( min-width:	1024px)
		grid-template-columns: repeat(4,1fr)
