.example-container
	width:		auto
	min-height:		100vh
	order:		1px	solid	#555
.drawerLeft
	background:		#121832
	width:		70%
	border-radius:		0
	@media	(	min-width:	600px)
		width:		40%
	@media	(	min-width:	1024px)
		width:		20%
.drawerRight
	min-height:		100vh

.nameApiContainer
	display:		grid
	gap:		1rem
	grid-template-columns:		1fr
	justify-content:		center
	width:		100%
.nameApiGrid
	display:		grid
	padding:		1rem
	grid-template-columns:		repeat(1fr)
	@media	(	min-width:	600px)
		grid-template-columns:		repeat(2,1fr)
	@media	(	min-width:	1024px)
		grid-template-columns:		repeat(4,1fr)

.center-spinner
	position:	absolute
	top:	50%
	left:	50%
	margin:	-24px	0	0	-24px
