.example-container
	width: auto
	min-height: 100vh
	order: 1px solid #555
.drawerLeft
	background: orange
	width: 70%
	border-radius: 0
.drawerRight
	min-height: 100vh


.nameApiContainer
	display: grid
	grid-template-columns: auto
	justify-content: center
.nameApiCard
	border: 1px solid red

.example-card
	max-width: 350px

.example-card
	background-image: url('https://material.angular.dev/assets/img/examples/shiba2.jpg')
	background-size: cover
