<div class="mainContainer">
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="over" opened class="drawerLeft"
      >Drawer content</mat-drawer
    >
    <mat-drawer-content class="drawerRight">
      <div class="toolbarContainer">
        <app-toolbar (menuToogle)="drawer.toggle()"></app-toolbar>
      </div>
<div class="nameApiGrid">
	      <div *ngFor="let nameApi of arrayNamesApi" class="nameApiContainer">
        <div class="nameApiCard">
					<app-nameapidcard></app-nameapidcard>
        </div>
      </div>
</div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<router-outlet />
