<mat-progress-spinner
  *ngIf="loading"
  mode="indeterminate"
  class="center-spinner">
</mat-progress-spinner>

<mat-form-field appearance="outline" class="filter-input" *ngIf="!loading">
  <mat-label>Buscar por nombre</mat-label>
  <input #searchInput
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Escribe un nombre..."
  />
  <button
    mat-icon-button
    matSuffix
    *ngIf="dataSource.filter"
    (click)="clearFilter(searchInput)"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div *ngIf="!loading">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
  
    <ng-container *ngFor="let column of displayedColumns">
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="column === 'image'; else notImage">
          <img 
            [src]="element.image" 
            alt="{{ element.name }}" 
            class="avatar-cell"
          />
        </ng-container>
  
          <ng-template #notImage>
          <ng-container *ngIf="column !== 'details'; else detailsButton">
            {{ element[column] }}
          </ng-container>
        </ng-template>
          
          <ng-template #detailsButton>
            <button mat-icon-button (click)="openDetails(element)">
              <mat-icon>info</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>

